// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container{
  height: 500px;
  position: relative;
}

#theTarget {

}

.image1 {
  background-image: url(/assets/images/image1.jpg);
}

.image2 {
  background-image: url(/assets/images/image2.jpg);
}

.image3 {
  background-image: url(/assets/images/image3.jpg);
}

.image4 {
  background-image: url(/assets/images/image4.jpg);
}

.image5 {
  background-image: url(/assets/images/image5.jpg);
}

.btn-wrapper {
	margin-top: 30px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
    color: black;
}