// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-container {
	margin-top: 100px;
}


.post-items {
	float: left;
  // margin: 5px;
  padding: 10px;
}

.clearfix::after{
	content:"";
	display: block;
	clear: both;
}

.pagi {
	width: 100%;
	text-align:center;
}
